@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

.error-message, .success-message {
    color: #ff0000; 
    padding: 10px;
    border: 1px solid red;
    background-color: #ffe5e5;
    margin-top: 1rem;
    text-align: center;
    border-radius: 4px;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  
  .success-message {
    border: 1px solid green;
    background-color: #e5ffe5;
    color: green;
  }

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    font-family: Sedan;
}

.login-image {
    height: 100rem;
    width: 60vw;
    background-image: url("/assets/login.png");
    background-size: cover;
    background-position: center;
    position: absolute;
}

.login-form-container {
    width: 40%;
    height: 100%;
    margin-left: 70rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
}

.login-form {
    width: 80%;
    margin-bottom: 10rem;
}

.login-form h1 {
    font-family: 'Sedan SC', serif;
    color: #C77E01;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.login-form p {
    font-family: 'Sedan', serif;
    color: #777777;
    margin-bottom: 1.5rem;
}

.login-form label {
    display: block;
    font-family: 'Sedan', serif;
    color: #9C5CE1;
    margin-bottom: 0.5rem;
}

.login-form input,
.login-form select {
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 1rem;
    border: 1px solid #222222;
    border-radius: 4px;
    font-family: 'Sedan', serif;
    box-sizing: border-box;
}

.login-form button {
    width: 70%;
    padding: 1.2rem;
    background-color: #9C5CE1;
    color: white;
    font-family: 'Sedan SC', serif;
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 2rem auto;
    display: block;
}

.login-form button:hover {
    background-color: #C77E01;
}

.login-form span {
    color: #9C5CE1;
    cursor: pointer;
    text-decoration: underline;
}

.login-form span:hover {
    color: #C77E01;
}

.account {
    text-align: center;
}
